
.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}


.hero {
  text-align: center;
}
.sociallink:first-child{
  margin-right: 8px;
}
.herotitle{
  font-size: 48px;
}

.blogdate{
  text-align: right;
}
.blogtitle {
  text-decoration: none;
}